* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: clamp(10px, 2vw, 20px);
}
@font-face {
    font-family: font1;
    src: url(./63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
@font-face {
    font-family: font2;
    src: url(./63cffc20aa8997095067596f_Satoshi-Light.woff);
}
@font-face {
    font-family: font3;
    src: url(./L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}

@mixin flex-column($measure: 0rem) {
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: $measure;
}

main {
    @include flex-column(0.9rem);
    width: 100%;
    background-color: rgb(173, 50, 50);
    gap: 0.7rem;

    .top {
        @include flex-column(0rem);
        width: 100%;
        border-radius: 0.8rem;
        
        img {
            border-radius: 0.8rem;
            width: 100%;
            object-fit: cover;
        }
    }

    .bottom {
        @include flex-column(2rem);
        border-radius: 0.8rem;
        background-color: rgb(44, 44, 44);
        gap: 4rem;
        width: 100%;
        h1{
            color: white;
                font-size: 1rem;
                font-family: 'font3';
                font-weight: 300;
                text-transform: uppercase;
        }

        .text {
            @include flex-column(0rem);
            gap: 1.5rem;
            h1 {
                color: white;
                font-size: 2.2rem;
                font-family: 'font1';
                font-weight: 700;
                text-transform: uppercase;
            }
            p {
                color: rgb(151, 147, 147);
                font-size: 1rem;
                font-family: 'font2';
                line-height: 1.5rem;
                font-weight: 800;
            }
            button {
                @include flex-column(0rem);
               width: fit-content;
                padding: 0.7rem;
                font-size: 1rem;
                border: none;
                border-radius: 1rem;
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                cursor: pointer;
                text-transform: uppercase;
            }
        }
    }
}
@media (min-width: 1068px) {
    .top{
        // flex-direction: row;
        justify-content: space-between;
        // width: 80%;
        // margin: auto;
    }
    .bottom{
        justify-content: space-between;
        // width: 20%;
    }
    main{
        flex-direction: row;
        background-color: black;
    }
}
