* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

@mixin flex-column($measure: 0rem) {
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: $measure;
}

main {
    @include flex-column(0.6rem);
    width: 100%;
    background-color: rgb(173, 50, 50);
    gap: 0.7rem;

    .top {
        @include flex-column(0rem);
        width: 100%;
        border-radius: 0.8rem;
        
        img {
            border-radius: 0.8rem;
            width: 100%;
        }
    }

    .bottom {
        @include flex-column(0.8rem);
        border-radius: 0.8rem;
        background-color: rgb(53, 52, 52);
        gap: 1rem;
        width: 100%;
        
        .text h1{
            color: white;
            font-size: 2.2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight:400;
        }
    }
}

